<%= form_with(model: [:admin, residence], local: true) do |form| %>
  <% if residence.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(residence.errors.count, "error") %> prohibited this residence from being saved:</h2>

      <ul>
      <% residence.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col s12 m7 no-padding">
      <h5 class="col s12"><%= t ".address" %></h5>

      <div class="input-field col s12 m9">
        <%= form.label :address %>
        <%= form.text_field :address %>
      </div>

      <div class="input-field col s12 m3">
        <%= form.label :number %>
        <%= form.text_field :number %>
      </div>

      <div class="input-field col s12 m6">
        <%= form.label :complement %>
        <%= form.text_field :complement %>
      </div>

      <div class="input-field col s12 m6">
        <%= form.label :neighborhood %>
        <%= form.text_field :neighborhood %>
      </div>

      <div class="input-field col s12 m10">
        <%= form.label :city %>
        <%= form.text_field :city %>
      </div>

      <div class="input-field col s12 m2">
        <%= form.label :state %>
        <%= form.text_field :state %>
      </div>

      <div class="input-field col s12 m6">
        <%= form.label :postal_code %>
        <%= form.text_field :postal_code %>
      </div>

      <div class="input-field col s12 m6">
        <%= form.label :condo_name %>
        <%= form.text_field :condo_name %>
      </div>

      <h5 class="col s12"><%= t ".features" %></h5>

      <div class="input-field col s12 m12">
        <%= form.select :residence_feature_ids, @features, {}, { multiple: true, selected: @selected_features } %>
        <%= form.label :residence_features %>
      </div>

      <div class="input-field col s12 m4">
        <%= form.label :bedroom %>
        <%= form.number_field :bedroom %>
      </div>

      <div class="input-field col s12 m4">
        <%= form.label :suite %>
        <%= form.number_field :suite %>
      </div>

      <div class="input-field col s12 m4">
        <%= form.label :bathroom %>
        <%= form.number_field :bathroom %>
      </div>

      <div class="input-field col s12 m4">
        <%= form.label :living_room %>
        <%= form.number_field :living_room %>
      </div>

      <div class="input-field col s12 m4">
        <%= form.label :covered_parking_lot %>
        <%= form.number_field :covered_parking_lot %>
      </div>

      <div class="input-field col s12 m4">
        <%= form.label :uncovered_parking_lot %>
        <%= form.number_field :uncovered_parking_lot%>
      </div>

      <div class="input-field col s12 m4">
        <%= form.label :total_parking_lot %>
        <%= form.number_field :total_parking_lot, disabled: "", placeholder: "" %>
      </div>

      <div class="input-field col s12 m4">
        <%= form.label :building_aera %>
        <%= form.number_field :building_aera %>
      </div>

      <div class="input-field col s12 m4">
        <%= form.label :total_area %>
        <%= form.number_field :total_area %>
      </div>

      <h5 class="col s12"><%= t ".financial" %></h5>

      <div class="input-field col s12 m6">
        <%= form.label :exchange %>
        <%= form.text_field :exchange %>
      </div>

      <div class="input-field col s12 m6">
        <%= form.label :market_price %>
        <%= form.text_field :market_price, class: "money" %>
      </div>

      <div class="input-field col s12 m6">
        <%= form.label :sale_price %>
        <%= form.text_field :sale_price, class: "money" %>
      </div>

      <div class="input-field col s12 m6">
        <%= form.label :condo_price %>
        <%= form.text_field :condo_price, class: "money" %>
      </div>

      <div class="input-field col s12 m6">
        <%= form.label :iptu_price %>
        <%= form.text_field :iptu_price, class: "money" %>
      </div>

      <div class="input-field col s12 m6">
        <%= form.label :rent_price %>
        <%= form.text_field :rent_price, class: "money" %>
      </div>

      <div class="input-field col s12 m6">
        <%= form.label :media_fee %>
        <%= form.text_field :media_fee %>
      </div>

      <div class="input-field col s12 m6">
        <%= form.label :comission_fee %>
        <%= form.text_field :comission_fee %>
      </div>

      <h5 class="col s12"><%= t ".registers" %></h5>

      <div class="col s12 m4">
        <label for="residence_payed_property">
          <%= form.check_box :payed_property %>
          <span><%= t ".payed_property" %></span>
        </label>
      </div>

      <div class="col s12 m4">
        <label for="residence_accept_exchange">
          <%= form.check_box :accept_exchange %>
          <span><%= t ".accept_exchange" %></span>
        </label>
      </div>

      <div class="col s12 m4">
        <label for="residence_payed_condo">
          <%= form.check_box :payed_condo %>
          <span><%= t ".payed_condo" %></span>
        </label>
      </div>

      <div class="input-field col s12 m6">
        <%= form.label :realstate_county_subscription %>
        <%= form.text_field :realstate_county_subscription %>
      </div>

      <div class="input-field col s12 m6">
        <%= form.label :residence_registration_number %>
        <%= form.text_field :residence_registration_number %>
      </div>

      <div class="input-field col s12 m6">
        <%= form.label :which_floor %>
        <%= form.number_field :which_floor %>
      </div>

      <div class="input-field col s12 m6">
        <%= form.label :tower %>
        <%= form.text_field :tower %>
      </div>

      <div class="input-field col s12 m4">
        <%= form.label :suspention_date %>
        <%= form.text_field :suspention_date, class: "datepicker" %>
      </div>

      <div class="input-field col s12 m4">
        <%= form.label :construction_date %>
        <%= form.text_field :construction_date, class: "datepicker" %>
      </div>

      <div class="input-field col s12 m4">
        <%= form.label :reform_date %>
        <%= form.text_field :reform_date, class: "datepicker" %>
      </div>

      <h5 class="col s12"><%= t ".marketing" %></h5>

      <div class="input-field col s12 m12">
        <%= form.label :description %>
        <%= form.text_area :description, class: "materialize-textarea"%>
      </div>

      <div class="input-field col s12 m6">
        <%= form.label :tour_virtual_link %>
        <%= form.text_field :tour_virtual_link %>
      </div>

      <div class="input-field col s12 m6">
        <%= form.label :marketing_authorization %>
        <%= form.text_field :marketing_authorization %>
      </div>

      <h5 class="col s12"><%= t ".aquisition" %></h5>

      <div class="input-field col s12 m6">
        <%= collection_select(:residence, :residence_status_id, @residence_statuses, :id, :value, {}, { prompt: "Selecione o status", required: true })  %>
        <%= form.label :residence_status %>
      </div>

      <div class="input-field col s12 m6">
        <%= form.select :finality, @finalities, prompt: "Selecione a finalidade" %>
        <%= form.label :finality %>
      </div>

      <div class="input-field col s12 m6">
        <%= form.label :aquiring %>
        <%= form.number_field :aquiring %>
      </div>

      <div class="input-field col s12 m6">
        <%= form.label :acquired %>
        <%= form.number_field :acquired %>
      </div>

      <div class="input-field col s12 m12">
        <%= form.select :capture_type, @capture_types, prompt: "Selecione o tipo de captação" %>
        <%= form.label :capture_type %>
      </div>

      <!--<div class="input-field col s12 m12">
        <label for="residence_payed_property">
          <input type="checkbox" class="filled-in" value="1" name="residence[idealize_commercialization]" id="residence_payed_property">
          <span>Idealize Commercialization</span>
        </label>
      </div>-->
    </div>
  </div>

  <div class="row">
    <div class="col s12 m6">
      <%= form.submit 'Salvar', class: "waves-effect waves-light text-lighten-1 btn" %>
    </div>
  </div>
<% end %>
