<div class="row">
  <div class="col s12 m6">
    <h1><%= t ".edit_residence" %></h1>
  </div>
</div>

<%= render 'form', residence: @residence %>

<div class="row">
  <div class="col s12 m6">
    <%= link_to t(".show"), [:admin, @residence] %> |
    <%= link_to t(".back"), admin_residences_path %>
  </div>
</div>
