<h1><%= t ".residences" %></h1>

<table>
  <thead>
    <tr>
      <th><%= t ".id" %></th>
      <th><%= t ".address" %></th>
      <th><%= t ".house_number" %></th>
      <th><%= t ".neighborhood" %></th>
      <th><%= t ".city" %></th>
      <th><%= t ".state" %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @residences.each do |residence| %>
      <tr>
        <td><%= residence.id %></td>
        <td><%= residence.address %></td>
        <td><%= residence.number %></td>
        <td><%= residence.neighborhood %></td>
        <td><%= residence.city %></td>
        <td><%= residence.state %></td>
        <td><%= link_to t(".show"), [:admin, residence] %></td>
        <td><%= link_to t(".edit"), edit_admin_residence_path(residence) %></td>
        <td><%= link_to t(".delete"), [:admin, residence], method: :delete, data: { confirm: "Você tem certeza?" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t(".new_residence"), new_admin_residence_path, class: "waves-effect waves-light text-lighten-1 btn" %>
