<p>
  <strong>Condo name:</strong>
  <%= @residence.condo_name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @residence.address %>
</p>

<p>
  <strong>Number:</strong>
  <%= @residence.number %>
</p>

<p>
  <strong>Complement:</strong>
  <%= @residence.complement %>
</p>

<p>
  <strong>Neighborhood:</strong>
  <%= @residence.neighborhood %>
</p>

<p>
  <strong>City:</strong>
  <%= @residence.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @residence.state %>
</p>

<p>
  <strong>Postal code:</strong>
  <%= @residence.postal_code %>
</p>

<p>
  <strong>Bedroom:</strong>
  <%= @residence.bedroom %>
</p>

<p>
  <strong>Suite:</strong>
  <%= @residence.suite %>
</p>

<p>
  <strong>Bathroom:</strong>
  <%= @residence.bathroom %>
</p>

<p>
  <strong>Living room:</strong>
  <%= @residence.living_room %>
</p>

<p>
  <strong>Covered parking:</strong>
  <%= @residence.covered_parking_lot %>
</p>

<p>
  <strong>Not covered parking:</strong>
  <%= @residence.uncovered_parking_lot %>
</p>

<p>
  <strong>Total parking:</strong>
  <%= @residence.total_parking_lot %>
</p>

<p>
  <strong>Payed property:</strong>
  <%= @residence.payed_property %>
</p>

<p>
  <strong>Building aera:</strong>
  <%= @residence.building_aera %>
</p>

<p>
  <strong>Total area:</strong>
  <%= @residence.total_area %>
</p>

<p>
  <strong>Accept exchange:</strong>
  <%= @residence.accept_exchange %>
</p>

<p>
  <strong>Exchange:</strong>
  <%= @residence.exchange %>
</p>

<p>
  <strong>Payed condo:</strong>
  <%= @residence.payed_condo %>
</p>

<p>
  <strong>Realstate county subscription:</strong>
  <%= @residence.realstate_county_subscription %>
</p>

<p>
  <strong>Residence registration number:</strong>
  <%= @residence.residence_registration_number %>
</p>

<p>
  <strong>Market price:</strong>
  <%= @residence.market_price %>
</p>

<p>
  <strong>Sale price:</strong>
  <%= @residence.sale_price %>
</p>

<p>
  <strong>Condo price:</strong>
  <%= @residence.condo_price %>
</p>

<p>
  <strong>Iptu price:</strong>
  <%= @residence.iptu_price %>
</p>

<p>
  <strong>Rent price:</strong>
  <%= @residence.rent_price %>
</p>

<p>
  <strong>Which floor:</strong>
  <%= @residence.which_floor %>
</p>

<p>
  <strong>Tower:</strong>
  <%= @residence.tower %>
</p>

<p>
  <strong>Description:</strong>
  <%= @residence.description %>
</p>

<p>
  <strong>Tour virtual link:</strong>
  <%= @residence.tour_virtual_link %>
</p>

<p>
  <strong>Keys local:</strong>
  <%= @residence.tour_virtual_link %>
</p>

<p>
  <strong>Marketing authorization:</strong>
  <%= @residence.marketing_authorization %>
</p>

<p>
  <strong>Suspention date:</strong>
  <%= @residence.suspention_date %>
</p>

<p>
  <strong>Idealize commercialization:</strong>
  <%= @residence.idealize_commercialization %>
</p>

<p>
  <strong>Media fee:</strong>
  <%= @residence.media_fee %>
</p>

<p>
  <strong>Comission fee:</strong>
  <%= @residence.comission_fee %>
</p>

<p>
  <strong>Construction date:</strong>
  <%= @residence.construction_date %>
</p>

<p>
  <strong>Reform date:</strong>
  <%= @residence.reform_date %>
</p>

<p>
  <strong>How many times can be acquired:</strong>
  <%= @residence.aquiring %>
</p>

<p>
  <strong>How many times acquired:</strong>
  <%= @residence.acquired %>
</p>

<%= link_to 'Editar', edit_admin_residence_path(@residence) %> |
<%= link_to 'Voltar', admin_residences_path %>
