<div class="row">
  <div class="col s12 m6 no-padding">
    <h2>Forgot your password?</h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: :card }) do |f| %>
      <%= devise_error_messages! %>

      <div class="card-content">
        <div class="input-field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: :email %>
        </div>
      </div>

      <div class="card-action">
        <%= f.submit 'Send me reset password instructions', class: 'waves-effect waves-light btn' %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
