<div class="row">
  <div class="col s12 m6 no-padding">
    <h2>Log in</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: :card }) do |f| %>
      <div class="card-content">
        <div class="input-field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: :email %>
        </div>

        <div class="input-field">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: 'current-password' %>
        </div>

        <% if !devise_mapping.rememberable? -%>
          <div class="input-field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end -%>
      </div>

      <div class="card-action">
        <%= f.submit 'Log in', class: 'waves-effect waves-light btn' %>
      </div>
    <% end %>

    <%= render 'devise/shared/links' %>
  </div>
</div>
