<!DOCTYPE html>
<html>
  <head>
    <title>Niemeyer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <div class="nav-wrapper teal">
        <div class="container">
          <%= link_to 'Idealize', root_path, class: 'brand-logo' %>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <% if user_signed_in? %>
              <li>
              <%= link_to t(".logout"), destroy_user_session_path, method: :delete %>
              </li>
            <% else %>
              <li>
              <%= link_to t(".login"), new_user_session_path %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <% if !flash.empty? %>
        <% flash.keys.each do |k| %>
          <div class="row">
            <div class="col s12 m6 offset-m3 no-padding">
              <div class="card red darken-1">
                <div class="card-content white-text">
                  <p><%= flash[k] %></p>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
